* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Roboto!';
  src: local('Roboto');
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto!';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Philosopher';
  src: local('Philosopher');
  src: url('../fonts/Philosopher.ttf') format('truetype');
}

html {
  font-family: 'Roboto!';
}

body {
  background-color: #ffe2b0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

nav {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  margin-right: 100px;
}

li:last-child {
  margin-right: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.section-about {
  position: relative;
  height: 640px;
  background: url(../img/background-image.jpg) center / cover no-repeat;
  margin-bottom: 20px;
}

.section-about__block {
  position: absolute;
  top: 54%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 190px;
  background: linear-gradient(
    180deg,
    rgba(244, 213, 178, 0.8) 0%,
    rgba(234, 156, 65, 0.8) 100%
  );
}

.section-about__border {
  width: 390px;
  height: 160px;
  border: solid black 1px;
  padding: 17px 0 0 28px;
  text-align: left;
}

.section-about__title {
  font-size: 36px;
  margin: 0 0 9px 0;
  font-family: 'Philosopher';
}

.section-about__text {
  font-size: 12px;
}

.section-description {
  margin-bottom: 20px;
}

.section-description__icon-box {
  display: flex;
  justify-content: center;
  column-gap: 76px;
  margin-bottom: 20px;
}

.section-description__title {
  font-size: 96px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Philosopher';
}

.red {
  color: #f15b40;
}

.section-map {
  margin-bottom: 20px;
}

.section-description__text {
  font-size: 18px;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.section-map__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: 'Philosopher';
}

iframe {
  display: block;
  margin: 0 auto;
}

hr {
  border: none;
  border-top: 1px solid #999999;
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer {
  height: 80px;
}
